.count-products {
	position: absolute;
	top: 55%;
	right: 0;
	background-color: #ffffff;
	color: #010101;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
#contador-productos {
    font-size: 16px;
}
.icon-cartwidget {
    width: 30px;
	height: 30px;
	stroke: #ffffff;
}

.icon-cartwidget:hover {
	cursor: pointer;
}
