.checkoutForm {
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 0.2);
}
.checkoutOrder {
    width: 600px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 0.2);
}
.checkoutOrder svg {
    color: #ffffff83;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #FFF;
    font-size: 46px;
    letter-spacing: 1.5px;
    margin: 40px;
}
h2 {
    text-align: center;
    color: #FFF;
    font-size: 46px;
    letter-spacing: 1.5px;
    margin: 20px;
    text-transform: uppercase;
}
h3 {
    text-align: center;
    color: #FFF;
    font-size: 36px;
    letter-spacing: 1.5px;
    margin: 20px;
    text-transform: uppercase;
}
.label {
    display: flex;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    margin: 10px;
    font-size: 20px;
    gap: 10px;
}
.input {
    height: 50px;
    color: #FFF;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
}
.button {
    color: black;
    background-color: rgba(254, 97, 72, 0.9);
    border: none;
    width: 100%;
    padding: 12.5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
}
