.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  padding: 0 2rem;
  background-color: #030303;
  color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav-icons {
  display: flex;
  position: absolute;
  right: 2rem;
}
.nav-icons a {
  margin-right: 5px !important;
}
.nav_brand a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.5em;
  text-decoration: none;
}
.nav a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px;
}
.nav a:hover {
  color: rgba(254, 97, 72, 0.9);
}
.nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: rgba(254, 97, 72, 0.9);
  transition: all ease-in-out 250ms;
}
.nav a:hover::after {
  width: 100%;
}
.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  color: white;
  opacity: 0;
  font-size: 1.8rem;
}
.nav_brand {
  width: 80px;
  padding: 10px;
}
.nav_brand img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background-color: #030303;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .nav_list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .responsive_nav {
    transform: none;
  }
  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav a {
    font-size: 1.5rem;
  }
  .nav-icons {
    display: flex;
    position: relative;
    right: 0rem;
    top: -25px;
    align-items: center;
    justify-content: center;
  }
  .nav-icons a {
    margin-right: 15px !important;
  }
}