.cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 20px auto;
    height: 100px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 0.2);
}
.cart-title {
    margin: 10px;
}
.cart-title h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFF;
}
.cart-img {
    height: 80px;
    width: 100px;
    border: rgba(255, 255, 255, 0.15) 5px solid;
    border-radius: 20px;
    overflow: hidden;
}
.cart-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cart-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.cart-info-texto {
    color: #FFF;
    font-size: 18px;
    margin: 2px;
}
.cartd-footer {
    width: 90%;
    margin: 10px 0;
}
.btn-delete {
    color: black;
    background-color: rgba(254, 97, 72, 0.9);
    border: none;
    width: 100%;
    padding: 12.5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}