@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Extra+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Extra Condensed";
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
}
body {
  background-image: url(./fondoPared.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.greeting {
  text-align: center;
  margin-top: 50px;
}
.greeting h1, 
.greeting h2 {
  color: rgb(255, 255, 255, 0.8);
  font-size: 46px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(./fondoPared-mobile.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
}
